<div class="modal-overlay hidden" id="confirm-modal">
    <div class="modal confirm-modal">
        <div class="modal-content">
            <h3 id="confirm-title" class="title-2">Confirmation</h3>
            <p id="confirm-message">Are you sure you want to proceed?</p>
        </div>
        <div class="modal-actions response-area">
            <button class="btn" id="confirm-cancel-btn">Cancel</button>
            <button class="btn btn-suggested" id="confirm-ok-btn">OK</button>
        </div>
    </div>
</div>