/* Animations */
@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes progress {
    from {
        background-position: 0 0, -3.69rem 0;
    }

    to {
        background-position: 0 0, calc(100% + 3.69rem) 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}


.spin {
    animation: spin 0.8s linear infinite;
    will-change: transform;
    backface-visibility: hidden;
}

/* Loading State */
.queue-item-title.loading {
    font-style: italic;
    color: var(--fg-secondary);
    animation: pulse 1.5s infinite;
    will-change: opacity;
}